<!DOCTYPE html>
<html lang="en">
<head>
  
  {% block title %}<title>Technical Analysis</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% load static %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  <script src="{% static 'js/echarts/incubator-echarts-master/dist/echarts.min.js' %}"></script>  
  <script src="{% static 'js/jquery-1.12.4.min.js' %}"></script>  
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>

<body>
  <div id="topnav">
    {% block topnav %}{% endblock %}
  </div>
  
  <div id="content">
    {% block content %}{% endblock %}
  </div>
  
<script>
window.onscroll = function() {myFunction()};

var topnav = document.getElementById("topnav");
var sticky = topnav.offsetTop;

function myFunction() {
  if (window.pageYOffset >= sticky) {
    topnav.classList.add("sticky")
  } else {
    topnav.classList.remove("sticky");
  }
}
</script>  
</body>
</html>