{% extends "base_generic.html" %}

{% block topnav %}  
    <a href="{% url 'index' %}">Home</a>
    <a href="{% url 'methods' %}">Methods</a>    
    <a class="active" href="{% url 'develop' %}">Develop</a>
    <a href="{% url 'theories' %}">Theories</a>
    <a href="{% url 'indicators' %}">Indicators</a>
    <a href="{% url 'strategies' %}">Strategies</a>     
{% endblock %}

{% block content %}
<div class="develop">
<div class="tab">
  <button rel="stocks" class="tablink active">Stocks</button>
  <button rel="strategy" class="tablink">DevelopStrategy</button>
  <button rel="analysis" class="tablink">Analyses</button>
</div>
  
<div id="stocks" class="tabcontent active">
  <form>
    {% csrf_token %}
    {{ developInitialForm }}
    <br>
    <div id="symbolInput">
      <label>Add a symbol:</label>
      <input type="text" value="goog">
      <button type="button">Add</button>
    </div>
  </form>
  <div id="tablecontainer">
    <table>
      <tr>
        <th>Symbol</th>
        <th>Delete</th>        
      </tr>
      
    </table>
  </div>
</div>

<div id="strategy" class="tabcontent">
 <p>strategy</p>

</div>

<div id="analysis" class="tabcontent">
 <p>analysis</p>

</div>



</div>
<script type="text/javascript">
var $start = $('#id_start');
var $end = $('#id_end');
var $interval = $('#id_interval');
var $symbol = $('#symbolInput input');

var stockSet = new Set([]);
var stockData = {};

$('#symbolInput button').on('click', function() {
  if (stockSet.has($symbol.val())) {
    alert('That stock has already been collected.');
  } else {
    var form = {
      symbol: $symbol.val(),
      start: $start.val(),
      end: $end.val(),
      interval: $interval.val(),
    };     
    $.ajax({
      type: 'POST',
      url: 'get-data',
      data: form,
      success: function(data){
        if (data.Close.length > 0) {
          stockData[$symbol.val()] = data;            
          stockSet.add($symbol.val());  
          $('#tablecontainer table').append(
            $("<tr></tr>").append(
                            $("<td></td>")
                              .text($symbol.val())
                              .addClass("symbolText")
                           )
                          .append(
                            $("<td></td>").append(
                              $("<button></button>")
                                .text("delete")
                                .on('click', DeleteTr)
                            )
                          )
          );
        } else {
            alert('Suitable data not found. Please ensure the inputs are correct.');
        }
      $symbol.val('');
      $symbol.focus();
      },
      failure: function(data){
        alert('Got an error');
      }
    } )
  }
})

function DeleteTr() {
  var $tr = $(this).closest('tr');
  var symbolText = $tr.find(".symbolText").text();
  delete stockData[symbolText];
  stockSet.delete(symbolText);
  $tr.remove();
}









$.ajaxSetup({ 
     beforeSend: function(xhr, settings) {
         function getCookie(name) {
             var cookieValue = null;
             if (document.cookie && document.cookie != '') {
                 var cookies = document.cookie.split(';');
                 for (var i = 0; i < cookies.length; i++) {
                     var cookie = jQuery.trim(cookies[i]);
                     // Does this cookie string begin with the name we want?
                     if (cookie.substring(0, name.length + 1) == (name + '=')) {
                         cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                         break;
                     }
                 }
             }
             return cookieValue;
         }
         if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
             // Only send the token to relative URLs i.e. locally.
             xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
         }
     } 
});

</script>

<script type="text/javascript">
$('.tablink').on('click', function() {
  var contentToShow = $(this).attr('rel');
  $('.tablink.active').removeClass('active');
  $(this).addClass('active');
  
  $('.tabcontent.active').removeClass('active');
  $('#'+ contentToShow).addClass('active');

})

</script>

   
{% endblock %}