{% extends "base_generic.html" %}

{% block topnav %}  
    <a href="{% url 'index' %}">Home</a>
    <a href="{% url 'methods' %}">Methods</a>    
    <a class="active" href="{% url 'develop' %}">Develop</a>
    <a href="{% url 'theories' %}">Theories</a>
    <a href="{% url 'indicators' %}">Indicators</a>
    <a href="{% url 'strategies' %}">Strategies</a>     
{% endblock %}

{% block content %}
<div class="develop">
<div class="tab">
  <button rel="stocks" class="tablink active">Stocks</button>
  <button rel="strategy" class="tablink">DevelopStrategy</button>
  <button rel="analysis" class="tablink">Analyses</button>
</div>
  
<div id="stocks" class="tabcontent active">
  <form>
    {% csrf_token %}
    {{ developInitialForm }}
    <br>
    <div class="symbolInput">
      <label>Add a symbol:</label>
      <input type="text" value="goog">
      <button type="button">Add</button>
    </div>  
  </form>
  <div id="tablecontainer">
    <table>
      <tr>
        <th>Symbol</th>
      </tr>
      <tr>
        <th>Symbol</th>
      </tr>
      <tr>
        <th>Symbol</th>
      </tr>
      <tr>
        <th>Symbol</th>
      </tr>
      <tr>
        <th>Symbol</th>
      </tr>
      <tr>
        <th>Symbol</th>
      </tr>      <tr>
        <th>Symbol</th>
      </tr>
      <tr>
        <th>Symbol</th>
      </tr>
      <tr>
        <th>Symbol</th>
      </tr>      <tr>
        <th>Symbol</th>
      </tr>
      <tr>
        <th>Symbol</th>
      </tr>
      <tr>
        <th>Symbol</th>
      </tr>
    </table>
  </div>
</div>

<div id="strategy" class="tabcontent">
 <p>strategy</p>

</div>

<div id="analysis" class="tabcontent">
 <p>analysis</p>

</div>



</div>

<script type="text/javascript">
$('.tablink').on('click', function() {
  var contentToShow = $(this).attr('rel');
  $('.tablink.active').removeClass('active');
  $(this).addClass('active');
  
  $('.tabcontent.active').removeClass('active');
  $('#'+ contentToShow).addClass('active');

})

</script>

   
{% endblock %}