{% extends "base_generic.html" %}

{% block topnav %}  
    <a href="{% url 'index' %}">Home</a>
    <a href="{% url 'methods' %}">Methods</a>    
    <a class="active" href="{% url 'develop' %}">Develop</a>
    <a href="{% url 'theories' %}">Theories</a>
    <a href="{% url 'indicators' %}">Indicators</a>
    <a href="{% url 'strategies' %}">Strategies</a>     
{% endblock %}

{% block content %}
<div class="develop">
<div class="tab">
  <button rel="stocks" class="tablink active">Stocks</button>
  <button rel="strategy" class="tablink">DevelopStrategy</button>
  <button rel="analysis" class="tablink">Analyses</button>
</div>
  
<div id="stocks" class="tabcontent active">
  <div class="lside">
    <form>
      {% csrf_token %}
      {{ developInitialForm }}
      <br>
      <div id="symbolInput">
        <label>Add a symbol:</label>
        <input type="text" value="goog">
        <button type="button" id="startAdd">Start to add</button>
        <button type="button" id="addSymbol">Add</button>
      </div>
    </form>
    <div id="tablecontainer">
      <table>
        <tr class="headrow">
          <th>Symbol</th>
          <th>Delete</th>        
        </tr>
      </table>
    </div>
    <br>
    <div id="botButtons">
   <!--   <button type="button" id="id_save">Save</button> -->
   <!--   <button type="button" id="id_toggle">Toggle</button> -->
      <button type="button" id="id_reset">Reset</button>
  <!--    <select>Form</select> -->
    </div>
  </div>
  <div class="rside">
    <p>Stock Selector developing ...</p>
  </div>
</div>

<div id="strategy" class="tabcontent">
  <div class="lside">
    <p>Customized strategies developing</p>
  </div>
  <div class="rside">
    <form id="loadStrategy">
        {% csrf_token %}
        {{ selectStrategyForm.as_p }}
        <div class="button">
          <button type="button" id="submitSelectStrategy">Select</button>
        </div>
    </form>
    <form id="argInput">
    </form>
    <div id="submitPanel">
      <button type="button" id="startAnalyzing">Get Results</button>
      <p>Create analytical results for the strategy.</p>
    </div>
  </div>
</div>

<div id="analysis" class="tabcontent">
  <div id="resultTable">
    <table>

    </table>
  </div>

</div>



</div>
<script type="text/javascript">
var $start = $('#id_start');
var $end = $('#id_end');
var $interval = $('#id_interval');
var $symbol = $('#symbolInput input');

var stockSet = new Set([]);
var stockData = {};


$('#startAdd').on('click', function() {
  $(this).css({'display': 'none'});
  $('#addSymbol').css({'display': 'inline'});
  $start.attr('disabled', 'disabled');
  $end.attr('disabled', 'disabled');
  $interval.attr('disabled', 'disabled');
})

$('#addSymbol').on('click', function() {
  if (stockSet.has($symbol.val())) {
    alert('That stock has already been collected.');
  } else if ($symbol.val() === '') {
    alert('Error: Empty String Input');
  } else {
    var form = {
      symbol: $symbol.val(),
      start: $start.val(),
      end: $end.val(),
      interval: $interval.val(),
    };     
    $.ajax({
      type: 'POST',
      url: 'get-data',
      data: form,
      success: function(data){
        if (data.Close.length > 0) {
          stockData[$symbol.val()] = data;            
          stockSet.add($symbol.val());  
          $('#tablecontainer table').append(
            $("<tr></tr>").append(
                            $("<td></td>")
                              .text($symbol.val().toUpperCase())
                              .addClass("symbolText")
                           )
                          .append(
                            $("<td></td>").append(
                              $("<button></button>")
                                .text("delete")
                                .on('click', DeleteTr)
                            )
                          )
          );
        } else {
            alert('Suitable data not found. Please ensure the inputs are correct.');
        }
      $symbol.val('');
      $symbol.focus();
      },
      failure: function(data){
        alert('Got an error');
      }
    } )
  }
})

function DeleteTr() {
  var $tr = $(this).closest('tr');
  var symbolText = $tr.find(".symbolText").text();
  delete stockData[symbolText];
  stockSet.delete(symbolText);
  $tr.remove();
}

$('#id_reset').on('click', function() {
  $('#tablecontainer table tr:not(:first-child)').each(function() {
    $(this).remove();
  })
  stockData = {};
  stockSet = new Set([]);
  $('#addSymbol').css({'display': 'none'});
  $('#startAdd').css({'display': 'inline'});
  $start.removeAttr('disabled');
  $end.removeAttr('disabled');
  $interval.removeAttr('disabled');
})

$('#loadStrategy button').on('click', function() {
  var $inputToUse = $('#loadStrategy select');
  var $Name = $inputToUse.val();
  var $Type = $inputToUse.attr('name');
  var form = {
    name: $Name,
    type: $Type, 
  };
  $.ajax({
    type: 'POST',
    url: 'get-method-arg',
    data: form,
    success: function(data){
      var arg = data.arg;
          
      for (i=0, len=arg.length; i<len; i++){
        $("<p></p>").attr('id', 'p_'+arg[i]).appendTo('#argInput');
        $("<label><label>")
          .attr('for', 'input_'+arg[i])
          .text(arg[i]+':')
          .css({'text-align': 'right', 'width': '120px', 'display': 'inline-block'})
          .appendTo('#p_'+arg[i]);
       
        $("<input type='text' value='' />")
          .attr('id', 'input_'+arg[i])
          .attr('name', arg[i])
          .css({'position': 'relative', 'left': '30px', 'width': '150px'})
          .appendTo('#p_'+arg[i]);   
      };
        
      $("<p></p>").attr('id', 'p_button')
          .appendTo('#argInput')
          .css({'position': 'relative', 'top': '15px'})
       
      $("<button type='button' id='resetRside'>Reset</button>")
          .appendTo('#p_button')    
          .css({'position': 'relative', 'left': '15px'});
        
      if (data.helpText) {
        helpText = data.helpText
        $("<div></div>").attr('id', 'helpText').appendTo('#argInput')
            .css({'position': 'relative', 'top': '25px'})
              
        for (i=0; i<helpText.length; i++) {
          $("<p></p>").appendTo('#helpText').text(helpText[i])     
        }     
      }
        
      $('#argInput').slideDown(250);
      $('#loadStrategy button').hide();
      $('#submitPanel').show(); 
      $inputToUse.attr('disabled', 'disabled');
      $('#resetRside').on('click', resetRside);
    },
    failure: function(data){
      alert('Got an error');
    }
  })
});

function resetRside(){
  $('#loadStrategy select').removeAttr('disabled');
  $('#loadStrategy button').show();   
  $('#argInput')
    .hide()
    .empty();
  $('#submitPanel').hide();
};

$('#startAnalyzing').on('click', function() {
  if (stockSet.size === 0) {
    alert('StockSet not created. Please collect stocks at relevant tab.');
  } else if ($('#argInput input').length > 0 && $('#argInput input').is(function() {
      return $(this).val() === "";
    })
  ) {
    alert('Please enter arguments needed for the strategy.');
  } else {
    $('.tablink.active').removeClass('active');
    $('.tablink[rel="analysis"]').addClass('active');
    $('.tabcontent.active').removeClass('active');
    $('#analysis').addClass('active');
    $('#resultTable table').empty();
    
    var count = 0; //help count the number of ajaxes,
    // is used to determine which stock the ajax result belongs to 
    for (var stock in stockData) {
      if (stockData.hasOwnProperty(stock)) {
        var form = $.extend(true, {}, stockData[stock]);
                
        var $Name = $('#loadStrategy select').val();
        form['name'] = $Name;
        $('#argInput input').each(function() {
          form[$(this).attr('name')] = $(this).val();
        })
      
        $.ajax({
          type: 'POST',
          url: 'analyze-strategy',
          data: JSON.stringify(form),
          contentType: "application/json; charset=UTF-8",
      
          success: function(data) {
            if ($('#resultTable table tr').length === 0) {
              $curTr = $("<tr></tr>").appendTo('#resultTable table');
              $("<th></th>").text('Name')
                            .appendTo($curTr);
              for (var key in data) {
                if (data.hasOwnProperty(key)) {
                  $("<th></th>").text(key)
                                .appendTo($curTr);
                }
              }
            }
            $curTr = $("<tr></tr>").appendTo('#resultTable table');
                        
            $("<td></td>").text(Object.keys(stockData)[count])
                          .appendTo($curTr);
            count += 1;
            
            for (var key in data) {
              if (data.hasOwnProperty(key)) {
                $("<td></td>").text(data[key])
                              .appendTo($curTr);
              }
            }            
          },
          failure: function(data) {
            alert('Got an error');
          },
      })
      }
    }}

})

$.ajaxSetup({ 
     beforeSend: function(xhr, settings) {
         function getCookie(name) {
             var cookieValue = null;
             if (document.cookie && document.cookie != '') {
                 var cookies = document.cookie.split(';');
                 for (var i = 0; i < cookies.length; i++) {
                     var cookie = jQuery.trim(cookies[i]);
                     // Does this cookie string begin with the name we want?
                     if (cookie.substring(0, name.length + 1) == (name + '=')) {
                         cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                         break;
                     }
                 }
             }
             return cookieValue;
         }
         if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
             // Only send the token to relative URLs i.e. locally.
             xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
         }
     } 
});

</script>

<script type="text/javascript">
$('.tablink').on('click', function() {
  var contentToShow = $(this).attr('rel');
  $('.tablink.active').removeClass('active');
  $(this).addClass('active');
  
  $('.tabcontent.active').removeClass('active');
  $('#'+ contentToShow).addClass('active');

})

</script>

   
{% endblock %}