{% extends "base_generic.html" %}

{% block topnav %}
    <a class="active" href="{% url 'index' %}">Home</a>
    <a href="{% url 'methods' %}">Methods</a>
    <a href="{% url 'develop' %}">Develop</a>
    <a href="{% url 'theories' %}">Theories</a>
    <a href="{% url 'indicators' %}">Indicators</a>
    <a href="{% url 'strategies' %}">Strategies</a>   
{% endblock %}

{% block content %}
<div class="index">
<h1>Project: Stock Market Analysis</h1>

  <p>Welcome, this website is developed by <em>Xiao Han</em>.</p>

  <p>Building strategy development webpage ...</p>
  <p>Plan to save customized stock set/portfolio/strategy into database.</p>
  <p>Theories, Indicators, Strategies tabs are trivial.
   Pay your attention to <strong>Methods</strong> and <strong>Develop</strong> tabs.</p>
  <p><strong>Methods</strong>: Hopefully it will show you various indicators, strategies and analyses,
   which you could also apply on different stock and time period.</p>
  <p><strong>Develop</strong>: Create a stock set and input a time period,
   then pick a strategy and evaluate it.</p>
   
</div>

{% endblock %}